body {

}
header {
    background: orange;
    color: white;
}
#game-rules {
    background: pink;
    color: green;
    font-weight: bold;
}
.randomNum{
    background: rgb(167, 221, 221);
    height:100px;

}
#random-number {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}
#scores {
    background: rgb(167, 221, 221);
    height:100px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
}
.crystal-image {
    width:150px;
    height:100px;
    border: 1px solid rgb(190, 186, 186);
    margin:2px;
}
.panel-default {
    background: rgb(163, 224, 224);
    margin-top: 10px;
}